
@import "resetCSS.css";


* {box-sizing: border-box;
}

body{
  background-color: rgb(20 27 37) ;
}

.header{
  position: sticky;
  top:0;
}

/* HEADER */

.nav_bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title{
  font-size: 20px;
  margin-left: 5px;
  display: inline-block;
  color: white;
  font-weight: 500;
}

/* Dropdown Button */
.dropbtn {
    background-color: rgb(20 27 37) ;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color:rgb(20 27 37);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }


  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: rgb(20 27 37);}

  
.content_header{
  position: relative;
}
/* text i bannern, text_header-klassen är barn till content_header-föräldern  */ 

.content_header .text_header { 

  position: absolute; /* tar ut från normalt dokument flöde och förlorar space runom texten */ 

  left: 5%; /* placerar text 55% från vänster */ 

  top: 25%; /* placerar text 25% från topp */ 

  right: 10%;

  color: white; 
}

.content_header, h2 { 
  font-family:'Barlow Semi Condensed' , sans-serif;
  color:rgb(191 146 91);
}

.content_header .text_header .bodytext {
  color: white;
  font-family: 'poppins' , sans-serif;
  margin-top: 30px;
  margin-right: 50%;
}

.content_header .text_header span {
  font-size: 45px;
  
}


/* Service section */

.services{
  background: rgb(191 146 91);
  max-width: 900px;
  height: auto;
  display: grid;
  grid-template-columns: 800px;
  margin-left: 100px ;
  margin-right: 100px;
}

.services > section{

text-align: center;
padding: 20px;
margin: 10px;
border: 1px black;
}

.services img{
 border-radius: 50%;
 margin-top: -50px;
 margin-bottom: 10px;

}

 .services h3{
  font-family:'Barlow Semi Condensed' , sans-serif;
  color: white;
 }

 .services p{
  font-family: 'poppins' , sans-serif;
  color: white;
  margin: 10px 100px 10px 100px;
 }

 /* About us section */

.picture_about_us {
  text-align: center;
  position:relative
}

.about_us h2 {
color: white;
margin: 10px;
font-family:'Barlow Semi Condensed' , sans-serif;
text-align: center;

}
