
@import "resetCSS.css";


* {box-sizing: border-box;
}

body{
  background-color: rgb(20 27 37) ;
}

h1, h2, h3 {
  font-family:'Barlow Semi Condensed' , sans-serif;
}
p{
  font-family: 'poppins' , sans-serif;
}

header{
  position: sticky;
  top:0;
  z-index: 1000;
  background-color: rgb(20 27 37) ;
}


/* HEADER */

.nav_bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title{
  font-size: 20px;
  margin-left: 5px;
  display: inline-block;
  color: white;
  font-weight: 500;
}

/* Dropdown Button */
.dropbtn {
    background-color: rgb(20 27 37) ;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color:rgb(20 27 37);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }


  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: rgb(20 27 37);}

  
.content_header{
  position: relative;
  height: 100vh;
  height: 100%;
  object-fit: cover;
}
/* text i bannern, text_header-klassen är barn till content_header-föräldern  */ 

.content_header .text_header { 

  position: absolute; /* tar ut från normalt dokument flöde och förlorar space runom texten */ 

  left: 5%; /* placerar text 55% från vänster */ 

  top: 25%; /* placerar text 25% från topp */ 

  right: 10%;

  color: white; 

  max-width: 70%;
}

.content_header, h2 { 
  color:rgb(191 146 91);
}

.content_header .text_header .bodytext {
  color: white;
  margin-top: 10px;
  margin-right: 40%;
}

.content_header .text_header span {
  font-size: 45px;
  
}


/* Service section */

.services{
  background-color: rgb(191 146 91);
  display: flex;
  flex-wrap: wrap;
}

.services > section{
  position: relative;
  border: solid white;
  width: 50%;
}

.Hair_styles {
  background-color: rgb(227, 170, 100);
}

.Hair_schampoo {
  background-color: rgb(227, 170, 100);
}
.services img{
  border-radius: 50%;
  position:absolute;
  width: 100px;
  left: calc(50% - 50px);
  top: -50px;
}

 .services h3{
    font-family:'Barlow Semi Condensed' , sans-serif;
    color: white;
    text-align: center;
    margin-top: 60px;
 }

 .services p{
    color: white;
    margin: 10px 100px 50px 100px;
    text-align: center;
 }
 


 /* About us section */

.picture_about_us {
  text-align: center;
  position:relative;
  object-fit: cover;
  height: 100vh;
  height: 100%;
}

.about_us h2 {
  color: rgb(191 146 91);
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 5%;
  font-family:'Barlow Semi Condensed' , sans-serif;
  font-size: larger;
  height: auto;
}
.about_us span {
  display: block;
  color: white;
  margin-left: 5%;
  font-size: 20px;
  margin-bottom: 30px;
}

.about_us p {
  color: white;
  margin-left: 5%;
  margin-right: 25%;
  line-height: 30px;
  font-family:'poppins' , sans-serif;
}

.symbol {
  background-color: rgb(191 146 91);
  width: 150px;
  border: 1px;
  margin: 50px;
  padding: 1px;
  display: flex;
flex-direction: row;
}

.symbol .cal_symbol {

  margin-top: 15px;
  display: inline-block;
  display: flex;
}

.symbol .text_symbol h2{
  font-size: 20px;
  color: white;
  margin-bottom: 5px;
  margin-top: 2px;
  margin-left: 10px;
  display: inline-block;
}

.symbol .text_symbol p{
  line-height: 15px;
  display: inline-block;
  
}
/* PHOTO BEFORE REVIEW SECTION */

.Review_img {
  text-align: center;
  position:relative;
  object-fit: cover;
  height: 100vh;
  height: 100%;
}
/* REVIEW SECTION */

.reviews {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.reviews h2 {
    color: rgb(191 146 91);
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .review_titles span {
    color: white;
    font-size: 20px;
    display: block;
  }
  .review_box{
    background-color: white;
    border-radius: 5px;
    margin-bottom: 30px;
    margin-top: 30px;
    flex-direction:column;
    width: 50%;
    height: 50%;
    display: flex;
    text-align: center;
    position: relative;
  }

  .quotation {
    width: 20px;
    border-radius: 50%;
    background-color: rgb(191 146 91);
    position: absolute;
    margin: -5px;
  }

  .review_text p {
    display: flex;
    color: black;
    margin-top: 20px;

  }

  .cutsomer {
    display: flex;
    border-radius: 80%;
  }

  .reviewer{
    display: flex;
    margin: 10px;
  }

  .star_container{
    display: block; 
    flex-direction: column;
    margin-left: 20px;
  }

  .five_star{
    width: 10px;
    height: 10px;
  }

  .Review_customer {
    color: black;
    display: block;
    margin-top: 4px;
    margin-bottom: 4px;
  }
  /* FOOTER SECTION */

  .footer_nav {
    background-color: #464646;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    justify-content: space-between;
    
  }

  .footer_nav > div{
    padding: 10px;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

.footer_nav a{
  text-decoration: none;
  color: lightslategray;
}

.footer_nav li, h2{
  margin: 10px;
}

.footer_nav1 {
  background-color: #464646;
  height: auto;
}

.box1 > div {
  background-color: black;
  display: inline-block;
  margin: 15px;
  border-radius: 50%;
  padding: 15px;

}

.box4 li{
 padding-top: 5px;
}

@media screen and (min-width: 1100px) {
header{
  position: sticky;
  top:0;
  z-index: 1000;
  background-color: rgb(20 27 37/0.5) ;
}

/* SERVICES  */

.services > section{
  position: relative;
  width: 25%;
  border: solid white;
  }

  /* REVIEWS */
 
.reviews {
  flex-direction: row;
  justify-content: space-around;
}

.review_titles{
  justify-content: center;
  width: 100%;
}

.reviews .review_box {
  width: 25%;
}
}